* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0000;
  color: #fff;
}

/* HEADER CENTRALIZADO */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #111;
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}

/* MENU CENTRALIZADO */
.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #ccc;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}

.nav a:hover {
  color: #fff;
}

/* LINHA ANIMADA */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #fff;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
}

/* PROJETOS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #fff;
}

/* CARD LADO A LADO */
.card-destaque {
  display: flex;
  gap: 20px;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #333;
}

.card-destaque img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card-destaque .info {
  max-width: 500px;
}

.card-destaque p {
  color: #ccc;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #aaa;
  border-top: 1px solid #333;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .card-destaque {
    flex-direction: column;
  }

  .card-destaque img {
    width: 100%;
  }
}
